*{
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0
}
.container{
  width: 900px;
  height:600px;
  margin: auto;
}
.riga{
  width: 900px;
  height: 300px;
}
.prodotti{
  width: 33%;
  height: 300px;
  display:inline-block;
}
